
    $total-brand: 6;
    $logo-width :12rem;
    $total-logo-width: calc($total-brand  * $logo-width * 2);
    $animation-duration: calc($total-brand * 1s  );


@keyframes slideleft {
    100%{
        transform: translateX( calc(-100%/2));
    }
}
@keyframes slideright {
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(100%);
    }
}