body{
    .video-area{
        .container-fluid{
            position: relative;
            .img-container{
                img{
                    width: 100%;
                }
            }
            .icon-container{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                border: 3px $yellow solid;
                border-radius: 50%;
                padding: 10px;
                a{
                    background: rgba($color: $yellow, $alpha: .7);
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 162px;
                    width: 162px;
                    font-size: 60px;
                    line-height: 60px;
                    text-align: center;
                    color: $white;
                    padding-left: 10px;
                    @include xl{
                        height: 132px;
                        width: 132px;
                        font-size: 40px;
                        line-height: 50px;
                    }
                    @include lg{
                        height: 112px;
                        width: 112px;
                        font-size: 30px;
                        line-height: 40px;
                    }
                    @include md{
                        height: 90px;
                        width: 90px;
                        font-size: 25px;
                        line-height: 30px;
                    }
                    @include sm{
                        height: 50px;
                        width: 50px;
                        font-size: 20px;
                        line-height: 25px;
                    }
                }
            }
        }
    }
}